<h1>New Tourny</h1>


<% round_count = 0 %>

<% @round_winners.each do |round_results| %>

    <div class="round">
      <h3> Round <%= round_count + 1%>:</h3>
      <hr>
      <% line = false %>
      <% contender = 0 %>
      <ul>
        <% @round_players[round_count].each do |challenger| %>
            <li><%= challenger.name %></li>
            <% if line %>
                <hr>
                <% line=false %>
            <% else %>
                <% line=true %>
            <% end %>
        <% end %>
      </ul>
      <button class="runRound">Run Round <%= round_count + 1%></button>
    </div>

    <div class="results">
      <h3> Round <%= round_count + 1%>:</h3>
      <hr>
      <% line = false %>
      <ul>
        <% round_results.each do |challenger| %>
            <li><%= "#{challenger[0]} : #{challenger[1]}" %></li>
            <% if line %>
                <hr>
                <% line=false %>
            <% else %>
                <% line=true %>
            <% end %>
        <% end %>
      </ul>
      <button class="nextRound">Round <%= round_count + 1%></button>
    </div>

<% round_count += 1%>
<% end %>










